<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unikaveri">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unikaveri">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false" />

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SetAlarmsActivity"
            android:exported="false"
            android:label="Aseta hälytykset"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SleepNoteDetailsActivity"
            android:exported="false"
            android:label="Merkintä"
            android:parentActivityName=".CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarActivity" />
        </activity>
        <activity
            android:name=".AddSleepNoteActivity"
            android:exported="false"
            android:label="Lisää merkintä"
            android:parentActivityName=".CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ChartsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>